@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Sora', sans-serif;
  overflow-x: hidden;
  color: white;

  background:
    radial-gradient(
      circle at top left,
      rgba(34, 211, 238, 0.15),
      transparent 25%
    ),

    radial-gradient(
      circle at bottom right,
      rgba(168, 85, 247, 0.15),
      transparent 25%
    ),

    linear-gradient(
      to bottom,
      #050816,
      #020617,
      #000000
    );

  background-attachment: fixed;
}